<div class="w-screen h-screen bg-gray-50 relative">
  <app-background></app-background>
  <div class="relative w-4/12 m-auto">
    <app-header></app-header>
    <div class="bg-white rounded shadow py-4 px-6">
      <div class="mb-4">
        <h1 class="text-center font-semibold pt-4 pb-8">
          Log in with Trello
        </h1>
        <form novalidate class="space-y-4" action="">
          <div class="relative">
            <input placeholder="Enter email" type="email" class="w-full rounded bg-gray-100 border-2 border-gray-200">
          </div>
          <div class="relative">
            <input placeholder="Enter password" type="password" class="w-full rounded bg-gray-100 border-2 border-gray-200">
          </div>
          <div>
            <app-btn [typeBtn]='"submit"' [btnColor]="'success'">Log in</app-btn>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
