<app-navbar></app-navbar>

<div class="text-[#B6C2CF]">
  <div class="flex flex-row justify-center items-start">
    <nav class="sticky top-10 w-64 px-4 mt-10" >
      <ul class="border-b border-solid border-gray-500 list-none m-0 p-0">
        <li class="block mb-1">
          <a routerLinkActive="{bg-[#1C2B41], text-[#579DFF] } "
            class="flex items-center min-h-5 py-3/2 px-2 gap-2 rounded-md font-medium hover:bg-[#A6C5E229] cursor-pointer ">
            <span class="w-6 h-6 text-center text-[#9FADBC] ">
              <fa-icon  [icon]= "faTrello"></fa-icon>
            </span>
            <span class="w-min flex-auto">Tableros</span>
          </a>
        </li>
        <li class="block mb-1">
          <a routerLinkActive="{bg-[#1C2B41], text-[#579DFF] } "
            class="flex items-center min-h-5 py-3/2 px-2 gap-2 rounded-md font-medium hover:bg-[#A6C5E229] cursor-pointer">
            <span class="w-6 h-6 text-center text-[#9FADBC]">
              <fa-icon  [icon]= "faBox"></fa-icon>
            </span>
            <span class="w-min flex-auto">Plantillas</span>
          </a>
        </li>
        <li class="block mb-1">
          <a routerLinkActive="{bg-[#1C2B41], text-[#579DFF] } "
            class="flex items-center min-h-5 py-3/2 px-2 gap-2 rounded-md font-medium hover:bg-[#A6C5E229] cursor-pointer">
            <span class="w-6 h-6 text-center text-[#9FADBC]">
              <fa-icon  [icon]= "faWaveSquare"></fa-icon>
            </span>
            <span class="w-min flex-auto">Inicio</span>
          </a>
        </li>
      </ul>
      <!-- Acordeon Espacios de trabajo -->
      <div class="pt-3 pb-10">
        <div class="flex items-start pl-3 h-8">
          <div class="py-2 font-semibold text-xs ">Espacios de Trabajo</div>
        </div>
        <cdk-accordion class="flex justify-between">
            <cdk-accordion-item
              #accordionItem="cdkAccordionItem"
              role="button"
              >
              <!-- Texto que se muestra para hacer click  -->
              <div class="flex" (click)="accordionItem.toggle()">
                <span class="">T</span> Trabajo en casa
                <span class="">
                  <fa-icon [icon]="accordionItem.expanded ? faAngleUp : faAngleDown"></fa-icon>
                </span>
              </div>
              <!-- Contenido dentro del aacordeon -->
              <div
                class="accordion-item-body"
                role="region"
                [style.display]="accordionItem.expanded ? '' : 'none'"
                >
                <ul class="ml-2 flex flex-col text-sm text-gray-700">
                  <li>
                    <a class="block py-1 px-3"
                      ><fa-icon [icon]="faTrello"></fa-icon> Boards</a
                    >
                  </li>
                  <li>
                    <a class="block py-1 px-3"
                      ><fa-icon [icon]="faHeart"></fa-icon> Highlights</a
                    >
                  </li>
                  <li>
                    <a class="block py-1 px-3"
                      ><fa-icon [icon]="faBorderAll"></fa-icon> Views</a
                    >
                  </li>
                  <li>
                    <a class="block py-1 px-3"
                      ><fa-icon [icon]="faUsers"></fa-icon> Members</a
                    >
                  </li>
                  <li>
                    <a class="block py-1 px-3"
                      ><fa-icon [icon]="faGear"></fa-icon> Settings</a
                    >
                  </li>
                </ul>
              </div>
             </cdk-accordion-item>
        </cdk-accordion>


      </div>
    </nav>
    <div class="w-full min-w-72  mt-10 mx-4">
      <div class="pb-5">
        <div>
          <div>icon estrella</div>
          <div>Tableros Marcados</div>
        </div>
        <div>Contenedor</div>
      </div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>

